
/* mobile menu toggle */
#headerMobileMenu {
    padding-right: 0.5rem;
}


#headerMobileMenu label {
    position: relative;
    font-size: 1.5rem;
}

#headerMobileMenu label#menuPlus::after {
    position: absolute;
    content: '+';
    top: -7.5px;
    right: -14px;
    font-weight: 700;
    
}



#headerMobileMenu input[type=checkbox]#headerMobileMenuToggle {
    -webkit-appearance:none;
    appearance: none;
    position: absolute;
    z-index: 4;
    top: 1rem;
    width:84px;
    height:30px;
    background:transparent;
    /* border: 1px solid black; */
    cursor: pointer;
}

#headerMobileMenu input[type=checkbox]#headerMobileMenuToggle:checked + label#menuPlus::after {
    position: absolute;
    content: '-';
    top: -11px;
    right: -13px;
    font-size: 2rem;

    
}

.menuSlideOut {
 
    position: absolute;
    left: -380px;
    top: 3.8rem;
    min-width: 375px;
    height: 800px;
    background-color: #b79ced;
    font-weight: 700;
    
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 5;
    opacity: 0;
}


#headerMobileMenu input[type=checkbox]#headerMobileMenuToggle:checked ~ .menuSlideOut {
    left: 0;
    opacity: 1;
}

.menuSlideOut-row {
    padding: 0.5em;
    border: 1px solid black;
    border-right: 0;
    border-left: 0;
    font-size: 1.45rem;
}
.menuSlideOut-row:last-child {
    border-bottom: 2px solid black;
}
