

.app-row--header {
    border-top: 1px solid black;
    padding-inline: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}


/* start of list row */ 


.link-row {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }
 
 .link-row--container{
     padding: 1.5rem 1rem;
     font-size: 2.197rem;
     line-height: 2.05rem;
 }
 .link-row--container ul {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding-left: 0;
     gap: 1rem;
 }
 
 .link-row--container li:not(:last-child)::after {
     content: "\2022";
     padding-left: 0.5rem;
 }
 
 .link-row--container ul a {
     text-decoration: none;
     color: inherit;
     text-transform: uppercase;
     font-weight: 700;
 }
 
 .link-row--container ul a:hover {
     text-decoration: underline;
     color:#D2ED9C;
     text-decoration-color: #D2ED9C;
 }


/* blog row */

.blog-row--container {
    display: grid;
}

.blog-row--blogItem {
    border: 1px solid black;
}

.blog-row--blogItem:nth-child(even) .blogItem--image {
    background-color: #E09CED;
}

.blog-row--blogItem:nth-child(odd) .blogItem--image {
    background-color: #9CAAED;
}

.blogItem--image {
    height: 36.25rem;
    border-bottom: 1px solid black;
}

.blogItem--image:nth-of-type(2n) {
    background-color: #ccc;
}

.blogItem--description {
    border-top: 1px solid black;
    padding: 1em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
}

.blogItem--description p {
    margin-bottom: 0.5rem;
}
.blogItem--description p.blogItem__text {
    margin-top: 1rem;
}

.blog-button {
    margin-top: 0.5rem;
}

.blog-button a {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    white-space: nowrap;
}

.blog-button span#blogArrow {
    font-size: 1.3rem;
}

.blog-button a:hover {
    color: #D2ED9C;
}


/* end of blog row */

/* start of moving words - row */

.app-row.movingWords-row {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #D2ED9C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.197rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
}

/* animation for moving words */
@keyframes move-words-left {
    0% {
        left: 0;
    }
    100% {
        left: -300%;
    }
}

.movingWords-row p#moveLeft{
    position: relative;
    animation: move-words-left 100s linear infinite;
}


/* end of moving words */


/* start of text-row */
.app-row.text-row {
    background-color: black;
    color: #b79ced;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.app-row.text-row p{
   
    font-size: 18px;
    letter-spacing: -0.9px;
}
.app-row.text-row p {
    color: inherit;
}

.app-row.text-row a {
    color: inherit;
}

.app-row.text-row a:hover {
    color:rgb(255, 10, 130);
}
/* end of text-row */


/*start popular work table */

.popular-row--container {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.popular-row--item {
    border: 1px solid black;
    padding: 0.3rem 0.5rem;
}

.popular-row--item span.mobileLabel {
    color: #D2ED9C;
    text-transform: uppercase;
}

.popular-row--item  span.textLineThru {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.popular-row--item  span.salePrice {
    color: #D2ED9C;
}
.popular-row--mobileFilter {
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0;
    padding-right: 2rem;
}

.popular-row--item.mobileHidden {
    display: none;
}

.mobileFilter--container label {
    text-transform: uppercase;
    font-weight: 700;
}

.mobileFilter--container input[type=checkbox]#mobileFilterToggle {
    -webkit-appearance:none;
    appearance: none;
    position: absolute;
    z-index: 4;
    top: 0.5rem;
    width:140px;
    height:20px;
    background:transparent;
    /* border: 1px solid black; */
    cursor: pointer;
}

.popular-row--arrow {
    position: absolute;
    top: 0.2rem;
    right: -0.5rem;
}

.mobileFilter--container input[type=checkbox]#mobileFilterToggle:checked ~ span.popular-row--arrow {
    transform: rotate(180deg);
}


.popular-row--mobileFilter__dropdown {
    display: none;
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    background-color: #b79ced;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

.mobileFiler-dropdown--container {
    
    display: flex;
    justify-content: flex-end;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.mobileFiler-dropdown--container ul {
    list-style: none;
    padding-left: 0;
}

.mobileFiler-dropdown--container li label {
    padding-left: 10px;
}


.mobileFilter--container input[type=checkbox]#mobileFilterToggle:checked ~ .popular-row--mobileFilter__dropdown {
    display: block;
}


/* end popular work table */


/* image item */

.image-row--grid__item {
    position: relative;
    height: 900px;
    z-index: -1;
    border: 1px solid black;
}

.image-row--grid__item#image1 {
    background-image: url('../assets/shoe111.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-row--grid__item#image1 p,
.image-row--grid__item#image2 p {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 800;
    text-transform: capitalize;
}
.image-row--grid__item#image2 {
    background-image: url('../assets/shoe112.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* end image row */

/* start reward row */
.rewards-row--container {
    padding: 3em 0.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rewards-row--container__item {
    flex-basis: 200px;
}

/* end reward-row */


/* start reviews-row */
.reviews-row--container {
    display: grid;
    gap: 0.5em;
    padding: 1em 0.7em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.reviews-review {
    font-size: 1.125rem;
    letter-spacing: -0.9px;
    line-height: 16.2px;
}

.reviews-person {
    font-size: 1.125rem;
}
/* end reviews-row */

/* media queries */

@media(min-width: 1024px){

    .link-row--container{
        font-size: 5.364rem;
        line-height: 4.4rem;
    }

    .link-row--container li:not(:last-child)::after {
  
        padding-left: 1rem;
    }

    .movingWords-row {
       
        font-size: 2.75rem;
    }

    .app-row.text-row p{
   
        font-size: 2.75rem;
        letter-spacing: -2.1969px;
    }

    .popular-row--mobileFilter {
        display: none;
    }

    .popular-row--item,
    .popular-row--item.mobileHidden {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
    }

    .popular-row--item span.mobileLabel {
        display: none;
    }

    .popular-row--item__style {
        text-align: left;
    }
    .popular-row--item__id {
        text-align: left;
    }

    .popular-row--item__vendor {
        text-align: left;
    }

    .popular-row--item__price {
        text-align: right;
    }
    
    .image-row--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .rewards-row--container__item {
        flex-basis: 250px;
    }
    .reviews-row--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .reviews-review {
        font-size: 1.75rem;
        letter-spacing: -1.4067px;
        line-height: 25.3167px;
    }
    

    .blog-row--container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* utility, screen reader stuff */

span.sr-only {
    position: absolute;
    visibility: hidden;
    z-index: -45;
}