
/*
 font-size: clamp(2.74rem, 2.5vw, 8.38rem); 
*/
.app-row.row--0 {
    position: relative;
    padding: 1rem;
    overflow: hidden;
}
.app-row.row--0 ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    
    flex-wrap: wrap;
}


.app-row.row--0 a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.offset-shoes {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 250px;
}

.offset-shoes img {

    width: 100%;

}

.app-row.row--0 a:hover {
    text-decoration: underline;
    
    text-decoration-thickness: 6px;
    text-decoration-color: rgba(98, 60, 234);
}


.anchor-divider {
    font-size: 1.44rem;
    margin-inline: 0.5rem;
}
@media(min-width: 768px) {
    .app-row.row--0 a  {
        font-size: 2.74rem;
    }

    .anchor-divider {
        font-size: 2.44rem;
    }
}
.app-row h2 {
    font-size: 1.3583rem;
    padding-inline: 0.5rem;
    margin-top: 1em;
}

.app-row.row--1 {
    padding: 0.5rem;
    background-color: rgb(198, 249, 31);
    overflow: hidden;
    white-space: nowrap;
}
.app-row.row--1 p {
    font-size: 18px;
}
.app-row.row--2 {
    margin: 1em 0;
}

.app-row.row--2 .row-2--grid {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.row-2--grid .grid-item:not(:first-of-type) {
    border-left: 1px solid black;
}


.row-2--grid .grid-item .grid-item--image {
    object-fit: cover;
    transition: transform 0.3s ease;
}
.row-2--grid .grid-item .grid-item--image:hover {
    transform: scaleX(-1);
}
.row-2--grid .grid-item .grid-item--description {
    border-top: 1px solid black;
    padding: 0.5rem;
}

.row-2--grid .grid-item .grid-item--description .flex-row {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

/* row-3 */

.app-row.row--3 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;
}
.app-row.row--3 p {
    font-size: 1.758rem;
    letter-spacing: -1.4067px;
}

/* end of row-3 */

/* row-4 */
.tablet-hide.filterAction{
    position: relative;
    display: flex;
    justify-content: flex-end;

    border-top: 1px solid black;
    padding: 0.5em 0;
    padding-right: 1rem;
}

.filterActions-block {
    display: none;
    position: absolute;

    top: 41px;
    left: 0;
    right: 0;
    background-color: rgb(174, 160, 224);
    color: white;
    z-index: 4;
}

.filterActions-block--container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0;
}

.filterActions-block--container ul {
    list-style: none;
    padding-left: 0;
    padding-right: 3rem; 
}

.filterAction--checkbox span.downArrow::after {
    content: 'v';
}
.filterAction--checkbox input[type=checkbox]#specialCase {

    -webkit-appearance:none;
    appearance: none;
    position: absolute;
    z-index: 3;
    right: 0.8rem;
    width:108px;
    height:20px;
    background:transparent;

    cursor: pointer;
}
.filterAction--checkbox input[type=checkbox]:checked + label {
    color: rgba(98, 60, 234);
}

.filterAction--checkbox input[type=checkbox]:checked ~ span.downArrow::after {
    content: 'v';
    display: inline-block;
    transform: rotate(180deg);
    color: rgba(98, 60, 234);
}

.filterAction--checkbox input[type=checkbox]:checked ~ .filterActions-block {
    display: block;
    color: white;
}
.row-4--grid {
    display: grid;
 
}

.app-row.row--4 h3 {
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}
.row-4--gridItem:nth-child(2) {
    border-top: 1px solid black;
}
.row-4--gridItem {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.row-4--gridItem span.tablet-hide {
    padding-right: 0.5rem;
    font-weight: 700;
}
.row-4--gridItem.mobile-hidden {
    display: none;
}

/* end of row-4 */

/* start of row-5; moving words */
.app-row.row--5 p{
    padding: 1em;
    border-bottom: 1px solid black;
}

/* end of row-5 */

/* start of row--6; images */
.row-6--container {
    display: grid;
    border-bottom: 1px solid black;
}

.row-6--item {
    padding-left: 1rem;
    padding-top: 1.5rem;
    height: 50vh;
}

.row-6--item:nth-child(2){
    border-left: 1px solid black;
}

.row-6--item#image1 {
    background-image: url('../assets/shoe111.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
}

.row-6--item#image2 {
    border-top: 1px solid black;
    background-image: url('../assets/shoe112.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
}

/* end of row--6 */

/* row-8 */
.row-8--container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    place-content: center;
    gap: 1rem;
}

.row-8--container img {
    object-position: center;
    object-fit: cover;
}

/* end of row-8 */

/* start of row 9 */
.row--9.reviews {
    border-top: 1px solid black;
    display: grid;
    gap: 1.5em;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.row--9.reviews p#first {
    font-size: 18px;
}

/* end of row--9 */

/* start of row-10 -- blog */
.row--10.blog{

   

    display: grid;
    gap: 1rem;
}


.row-10--blogItem .blogItem--image {
    height: 200px;
    background-color: rgb(130, 150, 168);
   
}
.row-10--blogItem .blogItem--description {
    padding: 0.5rem;
    border-top: 1px solid black;
}

.row-10--blogItem .blogItem--description a {
    color: inherit;
    text-underline-offset: 7.5px;
}
/* end of row-10 --blog */

/* temp row */
.app-row.temp-row {
    height: 50vh;
    margin: 3em 0;
    background-color: pink;

}

@media(min-width: 1024px){
    .app-row h2 {
        font-size: 3.291875rem;
    }
    .app-row.row--0 a, .anchor-divider {
        font-size: 6.18rem;
    }

    .app-row.row--1 p {
        font-size: 2.74rem;
    }

    .app-row.row--0 a:hover ~ .offset-shoes {
        display: unset;
    }

    .app-row.row--0 a:hover {
        text-decoration-thickness: 12px;
    }

    .app-row.row--2 .row-2--mobilegrid {
        display: none;
    }
    .app-row.row--2 .row-2--grid {
        display: grid;
        /* grid-template-columns: repeat(5, 1fr);
        border-top: 1px solid black;
        border-bottom: 1px solid black; */
    }

    .app-row.row--3 p {
        font-size: 5.364rem;
        letter-spacing: -4.2912px;
    }

    /* row-4 */
    .row-4--gridItem.mobile-hidden {
        display: grid;
        grid-template-columns: 3fr repeat(3,1fr);
        border-bottom: none;
        border-top: 1px solid black;
    }
    .row-4--gridItem {
        display: grid;
        grid-template-columns: 3fr repeat(3,1fr);
    }

    .row-4--gridItem span.tablet-hide {
        display: none;
    }

    .tablet-hide.filterAction {
        display: none;
    }

    .row-6--container {
        grid-template-columns: 1fr 1fr;
    }

    .row-6--item#image2 {
        border-top: none;
    }

    .row-6--item {
       
        height: 70vh;
    }

    .row--9.reviews {
        grid-template-columns: repeat(3, 1fr);
    }

    .row--9.reviews p#first {
        font-size: 1.758375rem;
    }

    .row--10.blog{
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .row-10--blogItem {
        border: 1px solid black
    }
}